body, h1,h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images_kp/purple_back.png');
  background-size: contain;
  background-color: #5D1998;
}


.mainContainer {
  display: flex;
  flex-direction: row;
}

.descContainer {
  margin-top: 200px;
  margin-left: 170px;

}


.descPar1 {
  color: #FFF;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 330px;
  height: 104px;

  margin-bottom: 51px;
}

.descPar2 {
  color: #FFF;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 377px;
  height: 208px;

}

.spin {
  margin-left: 87px;
  width: 150px;
  height: 100px;
  background-color: #80CC03;
  border-radius: 60px;

  font-size: 40px;

  opacity: 1;
  transition: all 1s ease;

  cursor: pointer;
}


.randomPicContainer {
  position: relative;
  width: 100%;
  overflow: hidden;

  width: 500px;
  height: 500px;

  margin-left: 270px;
  margin-top: 127px;

  object-fit: cover;
}
 

.sharesaveBtn {
  margin: 200px;
  width: 204px;
  height: 87px;
  font-size: 30px;
  font-family: Raleway;
  font-weight: 500;
  background-color: #80CC03;
  border-radius: 60px;

  opacity: 1;
  transition: all 1s ease;

  cursor: pointer;
}

.sharesaveBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.spin:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
