body, h1,h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images_kp/purple_back.png');
  background-size: contain;
  background-color: #5D1998;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.descContainer {
  background-color: ;
  margin-top: 200px;
  margin-left: 170px;

}

.imgContainer{
  display: none;
}

.descPar1 {
  color: #FFF;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 330px;
  height: 104px;

  margin-bottom: 51px;
}

.descPar2 {
  color: #FFF;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 377px;
  height: 208px;

}

.spin {
  margin-left: 87px;
  width: 150px;
  height: 100px;
  background-color: #80CC03;
  border-radius: 60px;

  font-size: 40px;

  opacity: 1;
  transition: all 1s ease;

  cursor: pointer;
}


.randomPicContainer {
  position: relative;
  width: 100%;
  overflow: hidden;

  margin-left: 270px;
  margin-top: 127px;
}
 
.carousel-inner {
  display: flex;
  width: 300%;
  transition: transform 0.5s;
  background-color: red;
}
 
.carousel-item {
  flex: 1;
  text-align: center;
}
 
.carousel-item img {
  width: 50%;
  max-height: 400px;
  object-fit: contain;
}
